.axis-label {
    text-anchor: middle;
    font-size: 12px;
    font-weight: semibold;
}

body {
    font-family: "Open Sans";
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px; /* Spacing between SVGs */
}

#main {
    margin: 20px;
}
#scatter-container, #map-container {
    margin: 10px;
}

#scatter-container {
    width: 800px;
    height: 600px;
    display: inline-block;
}

#map-container {
    width: 800px;
    height: 600px;
    display: inline-block;
}
